@import url(http://fonts.googleapis.com/css?family=Abel|PT+Mono|PT+Serif:400,400italic);
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
/* line 24, ../_sass/_skeleton.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 26, ../_sass/_skeleton.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 27, ../_sass/_skeleton.scss */
.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */
/* line 30, ../_sass/_skeleton.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 31, ../_sass/_skeleton.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 35, ../_sass/_skeleton.scss */
.container .one.column,
.container .one.columns {
  width: 40px;
}

/* line 36, ../_sass/_skeleton.scss */
.container .two.columns {
  width: 100px;
}

/* line 37, ../_sass/_skeleton.scss */
.container .three.columns {
  width: 160px;
}

/* line 38, ../_sass/_skeleton.scss */
.container .four.columns {
  width: 220px;
}

/* line 39, ../_sass/_skeleton.scss */
.container .five.columns {
  width: 280px;
}

/* line 40, ../_sass/_skeleton.scss */
.container .six.columns {
  width: 340px;
}

/* line 41, ../_sass/_skeleton.scss */
.container .seven.columns {
  width: 400px;
}

/* line 42, ../_sass/_skeleton.scss */
.container .eight.columns {
  width: 460px;
}

/* line 43, ../_sass/_skeleton.scss */
.container .nine.columns {
  width: 520px;
}

/* line 44, ../_sass/_skeleton.scss */
.container .ten.columns {
  width: 580px;
}

/* line 45, ../_sass/_skeleton.scss */
.container .eleven.columns {
  width: 640px;
}

/* line 46, ../_sass/_skeleton.scss */
.container .twelve.columns {
  width: 700px;
}

/* line 47, ../_sass/_skeleton.scss */
.container .thirteen.columns {
  width: 760px;
}

/* line 48, ../_sass/_skeleton.scss */
.container .fourteen.columns {
  width: 820px;
}

/* line 49, ../_sass/_skeleton.scss */
.container .fifteen.columns {
  width: 880px;
}

/* line 50, ../_sass/_skeleton.scss */
.container .sixteen.columns {
  width: 940px;
}

/* line 52, ../_sass/_skeleton.scss */
.container .one-third.column {
  width: 300px;
}

/* line 53, ../_sass/_skeleton.scss */
.container .two-thirds.column {
  width: 620px;
}

/* Offsets */
/* line 56, ../_sass/_skeleton.scss */
.container .offset-by-one {
  padding-left: 60px;
}

/* line 57, ../_sass/_skeleton.scss */
.container .offset-by-two {
  padding-left: 120px;
}

/* line 58, ../_sass/_skeleton.scss */
.container .offset-by-three {
  padding-left: 180px;
}

/* line 59, ../_sass/_skeleton.scss */
.container .offset-by-four {
  padding-left: 240px;
}

/* line 60, ../_sass/_skeleton.scss */
.container .offset-by-five {
  padding-left: 300px;
}

/* line 61, ../_sass/_skeleton.scss */
.container .offset-by-six {
  padding-left: 360px;
}

/* line 62, ../_sass/_skeleton.scss */
.container .offset-by-seven {
  padding-left: 420px;
}

/* line 63, ../_sass/_skeleton.scss */
.container .offset-by-eight {
  padding-left: 480px;
}

/* line 64, ../_sass/_skeleton.scss */
.container .offset-by-nine {
  padding-left: 540px;
}

/* line 65, ../_sass/_skeleton.scss */
.container .offset-by-ten {
  padding-left: 600px;
}

/* line 66, ../_sass/_skeleton.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}

/* line 67, ../_sass/_skeleton.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}

/* line 68, ../_sass/_skeleton.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}

/* line 69, ../_sass/_skeleton.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}

/* line 70, ../_sass/_skeleton.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 80, ../_sass/_skeleton.scss */
  .container {
    width: 768px;
  }

  /* line 82, ../_sass/_skeleton.scss */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 83, ../_sass/_skeleton.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 84, ../_sass/_skeleton.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 85, ../_sass/_skeleton.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 88, ../_sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }

  /* line 89, ../_sass/_skeleton.scss */
  .container .two.columns {
    width: 76px;
  }

  /* line 90, ../_sass/_skeleton.scss */
  .container .three.columns {
    width: 124px;
  }

  /* line 91, ../_sass/_skeleton.scss */
  .container .four.columns {
    width: 172px;
  }

  /* line 92, ../_sass/_skeleton.scss */
  .container .five.columns {
    width: 220px;
  }

  /* line 93, ../_sass/_skeleton.scss */
  .container .six.columns {
    width: 268px;
  }

  /* line 94, ../_sass/_skeleton.scss */
  .container .seven.columns {
    width: 316px;
  }

  /* line 95, ../_sass/_skeleton.scss */
  .container .eight.columns {
    width: 364px;
  }

  /* line 96, ../_sass/_skeleton.scss */
  .container .nine.columns {
    width: 412px;
  }

  /* line 97, ../_sass/_skeleton.scss */
  .container .ten.columns {
    width: 460px;
  }

  /* line 98, ../_sass/_skeleton.scss */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 99, ../_sass/_skeleton.scss */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 100, ../_sass/_skeleton.scss */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 101, ../_sass/_skeleton.scss */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 102, ../_sass/_skeleton.scss */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 103, ../_sass/_skeleton.scss */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 105, ../_sass/_skeleton.scss */
  .container .one-third.column {
    width: 236px;
  }

  /* line 106, ../_sass/_skeleton.scss */
  .container .two-thirds.column {
    width: 492px;
  }

  /* Offsets */
  /* line 123, ../_sass/_skeleton.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 96px;
  }

  /*
          .container .offset-by-one                   { padding-left: 48px; }
          .container .offset-by-two                   { padding-left: 96px; }
          .container .offset-by-three                 { padding-left: 144px; }
          .container .offset-by-four                  { padding-left: 192px; }
          .container .offset-by-five                  { padding-left: 240px; }
          .container .offset-by-six                   { padding-left: 288px; }
          .container .offset-by-seven                 { padding-left: 336px; }
          .container .offset-by-eight                 { padding-left: 384px; }
          .container .offset-by-nine                  { padding-left: 432px; }
          .container .offset-by-ten                   { padding-left: 480px; }
          .container .offset-by-eleven                { padding-left: 528px; }
          .container .offset-by-twelve                { padding-left: 576px; }
          .container .offset-by-thirteen              { padding-left: 624px; }
          .container .offset-by-fourteen              { padding-left: 672px; }
          .container .offset-by-fifteen               { padding-left: 720px; }
  */
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 151, ../_sass/_skeleton.scss */
  .container {
    width: 300px;
  }

  /* line 153, ../_sass/_skeleton.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 173, ../_sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }

  /* Offsets */
  /* line 190, ../_sass/_skeleton.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 201, ../_sass/_skeleton.scss */
  .container {
    width: 420px;
  }

  /* line 203, ../_sass/_skeleton.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 223, ../_sass/_skeleton.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 231, ../_sass/_skeleton.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use cf class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 238, ../_sass/_skeleton.scss */
.cf:before,
.cf:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 246, ../_sass/_skeleton.scss */
.row:after,
.cf:after {
  clear: both;
}

/* line 249, ../_sass/_skeleton.scss */
.row,
.cf {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 253, ../_sass/_skeleton.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Modular Scale ---------------------- 21px @ 1:1.618	 46px @ 1:1.618	 ----------------------*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 28, ../_sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 35, ../_sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../_sass/_base.scss */
body {
  line-height: 1;
}

/* line 39, ../_sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../_sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../_sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../_sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 54, ../_sass/_base.scss */
body {
  background: #fff;
  font: 1.313rem/1.618em "Abel", "Helvetica Neue", Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

/* #Typography
================================================== */
/* line 67, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 75, ../_sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 76, ../_sass/_base.scss */
h1 {
  font-size: 3.436rem;
  line-height: 4.652rem;
  margin-bottom: 1.098rem;
}

/* line 77, ../_sass/_base.scss */
h2 {
  font-size: 2.124rem;
  line-height: 2.875rem;
  margin-bottom: 0.679rem;
}

/* line 78, ../_sass/_base.scss */
h3 {
  font-size: 1.777rem;
  line-height: 2.124rem;
  margin-bottom: 0.501rem;
}

/* line 79, ../_sass/_base.scss */
h4 {
  font-size: 1.313rem;
  line-height: 1.777rem;
  margin-bottom: 0.259rem;
}

/* line 80, ../_sass/_base.scss */
h5 {
  font-size: 1.098rem;
  line-height: 1.313rem;
}

/* line 81, ../_sass/_base.scss */
h6 {
  font-size: 0.811rem;
  line-height: 1.098rem;
}

/* line 82, ../_sass/_base.scss */
.subheader {
  color: #777;
}

/* line 84, ../_sass/_base.scss */
p {
  margin: 0 0 1.313rem 0;
}

/* line 85, ../_sass/_base.scss */
p img {
  margin: 0;
}

/* line 86, ../_sass/_base.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 88, ../_sass/_base.scss */
em {
  font-style: italic;
}

/* line 89, ../_sass/_base.scss */
strong {
  font-weight: bold;
  color: #333;
}

/* line 90, ../_sass/_base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 93, ../_sass/_base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 94, ../_sass/_base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 95, ../_sass/_base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 96, ../_sass/_base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 97, ../_sass/_base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 99, ../_sass/_base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 104, ../_sass/_base.scss */
a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

/* line 105, ../_sass/_base.scss */
a:hover, a:focus {
  color: #000;
}

/* line 106, ../_sass/_base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 111, ../_sass/_base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 112, ../_sass/_base.scss */
ul {
  list-style: none outside;
}

/* line 113, ../_sass/_base.scss */
ol {
  list-style: decimal;
}

/* line 114, ../_sass/_base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 115, ../_sass/_base.scss */
ul.square {
  list-style: square outside;
}

/* line 116, ../_sass/_base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 117, ../_sass/_base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 119, ../_sass/_base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 121, ../_sass/_base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 122, ../_sass/_base.scss */
li {
  line-height: 1.618em;
  margin-bottom: 0.618em;
}

/* line 123, ../_sass/_base.scss */
ul.large li {
  line-height: 21px;
}

/* line 124, ../_sass/_base.scss */
li p {
  line-height: 1.618em;
}

/* #Images
================================================== */
/* line 129, ../_sass/_base.scss */
img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

/* #Buttons
================================================== */
/* line 143, ../_sass/_base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee;
  /* Old browsers */
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 173, ../_sass/_base.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

/* line 190, ../_sass/_base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */
}

/* line 204, ../_sass/_base.scss */
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
/* line 212, ../_sass/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */
/* line 221, ../_sass/_base.scss */
form {
  margin-bottom: 20px;
}

/* line 223, ../_sass/_base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 229, ../_sass/_base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

/* line 244, ../_sass/_base.scss */
select {
  padding: 0;
}

/* line 249, ../_sass/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 255, ../_sass/_base.scss */
textarea {
  min-height: 60px;
}

/* line 258, ../_sass/_base.scss */
lAbel,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 262, ../_sass/_base.scss */
select {
  width: 220px;
}

/* line 264, ../_sass/_base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 267, ../_sass/_base.scss */
lAbel span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Misc
================================================== */
/* line 274, ../_sass/_base.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 275, ../_sass/_base.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 276, ../_sass/_base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 36, ../_sass/_layout.scss */
  html {
    font-size: 90%;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 43, ../_sass/_layout.scss */
  html {
    font-size: 85%;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 50, ../_sass/_layout.scss */
  html {
    font-size: 80%;
  }
}
/* #Font-Face
================================================== */
@font-face {
  font-family: 'FranchiseRegular';
  src: url("/font/franchise-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/font/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/font/franchise-bold-webfont.woff") format("woff"), url("/font/franchise-bold-webfont.ttf") format("truetype"), url("/font/franchise-bold-webfont.svg#d845bf4960429831b378d1cea05a19d5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

/* Magnific Popup CSS */
/* line 77, ../_sass/_magnific.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 94, ../_sass/_magnific.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 106, ../_sass/_magnific.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 121, ../_sass/_magnific.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 132, ../_sass/_magnific.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 139, ../_sass/_magnific.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 149, ../_sass/_magnific.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 156, ../_sass/_magnific.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 160, ../_sass/_magnific.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 166, ../_sass/_magnific.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 173, ../_sass/_magnific.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 181, ../_sass/_magnific.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 189, ../_sass/_magnific.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 208, ../_sass/_magnific.scss */
.mfp-hide {
  display: none !important;
}

/* line 219, ../_sass/_magnific.scss */
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
/* line 229, ../_sass/_magnific.scss */
.mfp-preloader a {
  color: #cccccc;
}
/* line 231, ../_sass/_magnific.scss */
.mfp-preloader a:hover {
  color: white;
}

/* line 239, ../_sass/_magnific.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 246, ../_sass/_magnific.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 254, ../_sass/_magnific.scss */
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 267, ../_sass/_magnific.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 275, ../_sass/_magnific.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
/* line 297, ../_sass/_magnific.scss */
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 304, ../_sass/_magnific.scss */
.mfp-close:active {
  top: 1px;
}

/* line 309, ../_sass/_magnific.scss */
.mfp-close-btn-in .mfp-close {
  color: #333333;
}

/* line 315, ../_sass/_magnific.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 325, ../_sass/_magnific.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

/* line 336, ../_sass/_magnific.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 349, ../_sass/_magnific.scss */
.mfp-arrow:active {
  margin-top: -54px;
}
/* line 353, ../_sass/_magnific.scss */
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 362, ../_sass/_magnific.scss */
.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
/* line 376, ../_sass/_magnific.scss */
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
/* line 384, ../_sass/_magnific.scss */
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 392, ../_sass/_magnific.scss */
.mfp-arrow-left {
  left: 0;
}
/* line 396, ../_sass/_magnific.scss */
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
/* line 401, ../_sass/_magnific.scss */
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

/* line 407, ../_sass/_magnific.scss */
.mfp-arrow-right {
  right: 0;
}
/* line 410, ../_sass/_magnific.scss */
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
/* line 415, ../_sass/_magnific.scss */
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

/* line 425, ../_sass/_magnific.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 428, ../_sass/_magnific.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
/* line 433, ../_sass/_magnific.scss */
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* line 437, ../_sass/_magnific.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
/* line 442, ../_sass/_magnific.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

/* Main image in popup */
/* line 462, ../_sass/_magnific.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
/* line 477, ../_sass/_magnific.scss */
.mfp-figure {
  line-height: 0;
}
/* line 479, ../_sass/_magnific.scss */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
/* line 493, ../_sass/_magnific.scss */
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
/* line 499, ../_sass/_magnific.scss */
.mfp-figure figure {
  margin: 0;
}

/* line 503, ../_sass/_magnific.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 511, ../_sass/_magnific.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 520, ../_sass/_magnific.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 527, ../_sass/_magnific.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  /* line 540, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 545, ../_sass/_magnific.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  /* line 551, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  /* line 555, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  /* line 560, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 570, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  /* line 574, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  /* line 578, ../_sass/_magnific.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 598, ../_sass/_magnific.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 602, ../_sass/_magnific.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 606, ../_sass/_magnific.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 610, ../_sass/_magnific.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 622, ../_sass/_magnific.scss */
.mfp-ie7 .mfp-img {
  padding: 0;
}
/* line 625, ../_sass/_magnific.scss */
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
/* line 632, ../_sass/_magnific.scss */
.mfp-ie7 .mfp-container {
  padding: 0;
}
/* line 635, ../_sass/_magnific.scss */
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
/* line 638, ../_sass/_magnific.scss */
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* Variables */
/* Modular Scale ---------------------- 21px @ 1:1.618	 46px @ 1:1.618	 ----------------------*/
/* line 13, ../_sass/main.scss */
header {
  text-align: center;
}

/* line 17, ../_sass/main.scss */
header h1 {
  text-shadow: white 1px 1px 0px, white -1px -1px 0px, white -1px 1px 0px, white 1px -1px 0px, #804e42 1px 1px 0, #804e42 1px 2px 0, #804e42 2px 2px 0, #804e42 2px 3px 0, #804e42 3px 3px 0;
  text-align: center;
  color: #333;
  font-family: 'FranchiseRegular', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0.08em;
}

/* line 25, ../_sass/main.scss */
nav {
  margin-left: 0!important;
}

/* line 29, ../_sass/main.scss */
nav ul {
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .618rem 0;
}

/* line 36, ../_sass/main.scss */
nav ul li {
  font-family: 'Abel', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.098rem;
  font-style: normal;
  text-transform: uppercase;
  display: inline;
  margin: 0 1em 0 0;
  padding: 0;
}

/* line 46, ../_sass/main.scss */
nav ul li::before {
  content: "•";
  padding: 0 1em 0 0;
}

/* line 51, ../_sass/main.scss */
nav ul li:first-of-type::before {
  content: "";
  padding: 0 0 0 1em;
}

/* line 56, ../_sass/main.scss */
nav ul li a, nav ul li a:visited {
  color: #7e493d;
}

/* line 60, ../_sass/main.scss */
.posts li {
  border-bottom: 1px solid #ddd;
}

/* line 64, ../_sass/main.scss */
.meta {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 0.811rem;
  font-family: 'PT Mono', "Courier New", Courier, monospace;
}

/* line 71, ../_sass/main.scss */
ul.gallery-container {
  list-style: none;
}

/* line 75, ../_sass/main.scss */
ul.gallery-container li {
  display: inline;
}

/* @import "animate"; */
/* @import "syntax"; */
/* @import "accordion"; */
/* @import "bigvideo"; */
/* @import "font-awesome"; */
