/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		html {
			font-size: 90%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 481px) and (max-width: 767px) {
		html {
			font-size: 85%;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		html {
			font-size: 71%;
		}
	}


/* #Font-Face
================================================== */

	@font-face {
	  font-family: 'FranchiseRegular';
	  src: url('/font/franchise-bold-webfont.eot'); /* IE9 Compat Modes */
	  src: url('/font/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('/font/franchise-bold-webfont.woff') format('woff'), /* Modern Browsers */
	       url('/font/franchise-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('/font/franchise-bold-webfont.svg#d845bf4960429831b378d1cea05a19d5') format('svg'); /* Legacy iOS */
	  font-style:   normal;
	  font-weight:  400;
	}