@import "skeleton";
@import "base";
@import "layout";

/* Modular Scale ---------------------- 21px @ 1:1.618	 46px @ 1:1.618	 ----------------------*/

header h1 {
	text-shadow: #fff 1px 1px 0px, #fff -1px -1px 0px, #fff -1px 1px 0px, #fff 1px -1px 0px, #804e42 1px 1px 0, #804e42 1px 2px 0, #804e42 2px 2px 0, #804e42 2px 3px 0, #804e42 3px 3px 0;
	text-align: center;
	color: #333333;
}

nav {
	margin-left: 0!important;
}

nav ul {
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: .618rem 0;
}

nav ul li {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1.098rem;
	font-style: italic;
	text-transform: uppercase;
	display: inline;
	margin: 0 1em 0 0;
	padding: 0;
}

nav ul li::before {
	content: "•";
	padding: 0 1em 0 0;
}

nav ul li:last-of-type::after {
	content: "•";
	padding: 0 0 0 1em;
}

nav ul li a, nav ul li a:visited {
	color: #7e493d;
}

.posts li {
	border-bottom: 1px solid #ddd;
}

.meta {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-size: 0.811rem;
}

/* @import "animate"; */

/* @import "syntax"; */

/* @import "accordion"; */

/* @import "bigvideo"; */

/* @import "font-awesome"; */